<%  @user.username %>
<div>
  <aside >
    <section>
      <h1>
        <p>Hello</p>
        <%= @user.username %>
      </h1>
      <%= link_to "logout", logout_path, method: :delete %>
    </section>
  </aside>
</div>